<?xml version="1.0" ?>
<!-- rating -> %, accuracy -> %, distance -> m -->
<config>  
	<output resultsFile="./data/legion.h5" logsDir="./logs"/>
	<numSteps value="0" serializeResolution="1"/>
	<!-- size in meters, cell size is 1 m -->
	<battlefield size="200" initialDistance="50"/>
	<blueArmy separationBetweenLines="10">
		<line numBlocks="4" ranks="16" columns="10" separationBetweenBlocks="10" offset="0"/>
		<line numBlocks="3" ranks="16" columns="10" separationBetweenBlocks="10" offset="0"/>
		<line numBlocks="3" ranks="16" columns="10" separationBetweenBlocks="10" offset="-1"/>
	</blueArmy>
	<redArmy separationBetweenLines="10">
		<line numBlocks="5" ranks="16" columns="10" separationBetweenBlocks="10" offset="0"/>
		<line numBlocks="5" ranks="16" columns="10" separationBetweenBlocks="10" offset="1"/>
	</redArmy>
</config>

