
*.log

# Compiled source #
*.o
*.os
*.sconsign.dblite
pandora/build/
pandora/build_py/
*.swp
*.so
*.pyc
*.csv
*.abm
*.h5
*moc_**
*mpiCode*

# Temporal folders
.sconf_temp

# Build folders
lib
build/
buildDebug/
buildDebug_py/
build_py/
