<?xml version="1.0" ?>
<config>  
	<!-- Global simulation parameters -->
	<output  resultsFile="./data/neolithic.h5" logsDir="./logs"/>
	<numSteps value="100" serializeResolution="1"/>
    <size width="120" height="120"/>
	<!-- GIS input data -->
	<location resolution="50" demFile="resources/europe_dem.tiff" initPopulationFile="resources/init_population_ppnbc_europe.tiff"/>
	<!-- mountain barriers, minimum threshold in meters -->
	<mountains active="false" threshold="1750"/>
	<!-- sea travel, maximum distance in km -->
	<seaTravel active="false" distance="200"/>
	<!-- dispersion parameters -->
	<dispersion saturationDensityConstant="1.28" reproductiveRate="2.2" persistence="0.38"/>
</config>

