<?xml version="1.0" ?>
<config>  
	<output resultsFile="./data/segregation.h5" logsDir="./logs"/>
	<numSteps value="30" serializeResolution="1"/>
	<size width="50" height="50"/>
	<!-- friendlyPercentage of neighbor cells with friends required to not move -->
	<!-- density of occupied cells -->
	<!-- percentage of agents that are dime (the other will be pennies) -->
	<!-- distance at which neighbors are evaluated -->
	<!-- distance at which an agent can move when neighbor friendly conditions are not met -->
	<populationParams friendlyPercentage="0.5" density="0.7" dimePercentage="0.5" neighborDistance="3" maxMovingDistance="5"/>
</config>

