<?xml version="1.0" ?>
<config> 
	<!-- simulation config -->
	<output resultsFile="./data/phones.h5" logsDir="./logs"/>
	<numSteps value="481" serializeResolution="1"/>
	<environment>
		<landscape size="60" averageResources="1000"/>
		<climate seed="1" daysDrySeason="240" meanRain="4643.848" stddev="1885.18"/>
	</environment>
	<population>
		<villages num="10" agentsPerVillage="10"/>
		<animals numPerHerder="50" resourcesPerDay="5"/>		
	</population>
	<mdp horizon="10" width="100" explorationBonus="0"/>
	<knowledgeTransmission>
		<!-- if fixed value = -1 a random value will be defined for each village -->
		<inVillage active="yes" fixedValue="-1"/>
		<outVillage active="no" fixedValue="1"/>
	</knowledgeTransmission>
</config>
