<?xml version="1.0" ?>
<config> 
	<!-- simulation config -->
	<output resultsFile="./data/phones.h5" logsDir="./logs"/>
	<numSteps value="5000" serializeResolution="500"/>
	<environment>
        <!-- distribution can be "increase" (following y), "random" or "distance" -->
		<landscape width="20" height="20" averageResources="20" distribution="increase"/>
        <!--
		<climate daysDrySeason="10" meanRain="468.0" stddev="103.4"/>
        -->
		<climate daysDrySeason="50" meanRain="468.0" stddev="103.4"/>
	</environment>
	<population>
		<villages num="1" agentsPerVillage="5"/>
		<animals numPerHerder="20" resourcesPerDay="1"/>
	</population>
	<mdp horizon="4" width="100" explorationBonus="0"/>
	<knowledgeTransmission>
		<!-- if fixed value = -1 a random value will be defined for each village -->
		<inVillage active="yes" fixedValue="100"/>		
		<outVillage active="no" fixedValue="1"/>
	</knowledgeTransmission>
</config>

