<?xml version="1.0" ?>
<config> 
	<!-- simulation config -->
	<output resultsFile="./data/phones.h5" logsDir="./logs"/>
	<numSteps value="500" serializeResolution="1"/>
	<environment>
		<landscape width="20" height="20" averageResources="500"/>
		<climate daysDrySeason="20" meanRain="468.0" stddev="103.4"/>
        <!--
		<climate daysDrySeason="20" meanRain="468.0" stddev="0.001"/>
        -->
	</environment>
	<population>
		<villages num="1" agentsPerVillage="1"/>
		<animals numPerHerder="20" resourcesPerDay="5"/>
	</population>
	<mdp horizon="20" width="500" explorationBonus="0"/>
	<knowledgeTransmission>
		<!-- if fixed value = -1 a random value will be defined for each village -->
		<inVillage active="yes" fixedValue="100"/>		
		<outVillage active="no" fixedValue="1"/>
	</knowledgeTransmission>
</config>

