<?xml version="1.0" ?>
<config>  
	<output resultsFile="./data/results.h5" logsDir="./logs"/>
	<cellphoneUsageMax value="7"/>
	<cellphoneUsageMin value="1"/>
	<daysDrySeason value="240"/>
	<daysWetSeason value="120"/>
	<diffVillageDaysNoCallsLow value="90"/>
	<diffVillageDaysNoCallsMedium value="30"/>	
	<maxPercentMapSharedInACall value="3"/> <!--This number needs to be divided by 10-->
	<maxYearsCellInfo value="3"/>
	<multiplierCellsToAsk value="3"/>
	<numAgents value="10"/>
	<numAnimalsMax value="600"/>
	<numAnimalsMaxIni value="500"/>
	<numAnimalsMin value="100"/>
	<numAnimalsMinIni value="100"/>
	<numSteps value="721" serializeResolution="1"/>
	<numVillages value="8"/>
	<percentAgentsWithCellphone value="65"/>
	<percentKnownAgentsDifferentVillageMediumAffinity value = "30"/>
	<percentKnownAgentsSameVillageHighAffinity value = "30"/>
	<percentMapKnownAtBeginning value="5"/>
	<probabilityCallHighAffinity value="50"/>
	<probabilityCallLowAffinity value="10"/>
	<probabilityCallMediumAffinity value="35"/>
	<probabilityChildInheritsFromFather value="90"/>
	<probabilityExchangeInfoHighAffinityInVillage value="90"/> <!--TODO needs to be validated -->
	<probabilityExchangeInfoMediumAffinityInVillage value="50"/> <!--TODO needs to be validated -->
	<probabilityKnowAgentDifferentVillageAtStart value="10"/> 
	<probabilityKnowAgentSameVillageAtStart value="50"/>
	<probabilityMeetAgentSameCell value="10"/>
	<resourcesHighLevel value="10"/> <!-- TODO needs to be validated -->
	<resourcesLowLevel value="5"/> <!-- TODO needs to be validated -->
	<sameVillageDaysNoCallsHigh value="30"/>
	<sameVillageDaysNoCallsMedium value="90"/>
	<size value="60"/>
</config>
