<?xml version="1.0" ?>
<config>  
	<!-- Global simulation parameters -->
	<output resultsFile="./data/cultureDissemination.h5" logsDir="./logs"/>
	<numSteps value="300" serializeResolution="1"/>
	<size width="30" height="30"/>
    <culture features="3" traitsPerFeature="4" transmission="0.1" range="1.5" useDistance="true"/>
</config>

