<?xml version="1.0" ?>
<config>  
	<!-- Global simulation parameters -->
	<output resultsFile="./data/frontier.h5" logsDir="./logs"/>
	<numSteps value="200" serializeResolution="1"/>
	<size value="30"/>
	<asabiya increase="0.2" decay="0.1" min="0.0003"/>
	<conflict distanceSensibility="2" attackThreshold="0.1"/>
</config>

