<?xml version="1.0" ?>
<config>  
	<!-- Global simulation parameters -->
	<output resultsFile="./data/oasis.h5" logsDir="./logs"/>
	<numSteps value="100" serializeResolution="1"/>
	<size width="10" height="10"/>
	<agents>	
		<farmers init="1" strength="1" growthRate="0.3" immigrationRate="0.1"/>
		<herders init="1" relativeStrength="5.0" growthRate="0.3" immigrationRate="0.1"/>
	</agents>
</config>

