<?xml version="1.0" ?>
<config> 
	<!-- simulation config -->
	<output resultsFile="./data/panic.h5" logsDir="./logs"/>
	<!-- each step is 0.5 secs -->
	<numSteps value="300" serializeResolution="1"/>
	<environment size="708" fileName="resources/buildings.tiff"/>
	<!-- if risk aversion = -1, random value will be chosen -->
	<agents num="100"/>	
</config>

