<?xml version="1.0" ?>
<config>  
	<!-- Global simulation parameters -->
	<output resultsFile="./data/mdpAgents.h5" logsDir="./logs"/>
	<numSteps value="1000" serializeResolution="1"/>
	<size value="32"/>
	<agents num="100" neededResources="10" birthResources="100">
		<mdp horizon="10" width="100" explorationBonus="10"/>
	</agents>
</config>

