<?xml version="1.0" ?>
<config>  
	<!-- Global simulation parameters -->
	<path 	name="path" 	type="string"  value="./data/"/>
	<numSteps 	name="numSteps" 	type="int"  value="300"/>
	<!-- size of neighborhood, expressed in cells -->
	<size value="50"/>
	<!-- percentage of neighbor cells with friends requiered to not move -->
	<friendlyPercentage value="0.3"/>
	<!-- percentage of occupied cells -->
	<populationDensity value="0.8" />
	<!-- percentage of agents that are dime (the other will be pennies -->
	<dimePercentage value="0.5" />
	<!-- distance at which neighbors are evaluated -->
	<neighborDistance value="1.5" />
	<!-- distance at which an agent can move when neighbor friendly conditions are not met -->
	<maxMovingDistance value="1.5" />
</config>

